extend layout2

block content
  .info
    .info-content
      h4.description TEAM MEMBERS
      |           
      br
      |           
      p.description LEADER: Ziqiang He
      |           
      p.description MEMBER: Xianxin Zeng
      |           
      p.description MEMBER: Wenxin Gu
      |           
      o.description MEMBER: Guangtao Zeng
      br
      br
      |           
      |           
      p.more
        | We are a group of students belongs to the SDCS of SYSU. If you like our website, you could choose to
      |           
      a(href="/aboutus/donate") SUPPORT US
      |           
      p.more here. We'd try our best to offer you better service. Thanks for your support!

