extend layout2

block content
  link(rel='stylesheet', href='/stylesheets/background.css')
  .info
    .info-content
      h4.description THANK YOU FOR YOUR SUPPORT!
      |           
      |           
      p.description
        | Use Alipay to scan the QR code
        img(src="/resource/support.jpeg")