extend layout2

block content
  script(src = '/javascripts/userinfo.js')
  .userinfo
    .icon
      img(src="/resource/mine_fill.svg")
    |       
    .info-content
      p
        | 用户名: 
        span#username 
        |
        br
        |            邮箱: 
        span#username 
        |
        br
        |            自选股数量:
        span#prefer 
      |         
      //- a.smalllink(href="#fakelink") 查看我的自选股
      //- br
      //- |         
      //- a.smalllink(href="#fakelink") 添加自选股
